*{
    margin: 0px;
    padding: 0px;
}
/* The navbar gradient style for all pages Start Here */
.navig-bar{
    
    background: linear-gradient(to right, #159957, #155799);
    background-size: 300% 300%;
    animation: gradient 12s ease infinite;
}
@keyframes gradient{    
    0%{
      background-position: 0%;
    }
    50%{
      background-position: 100%;
    }
    100%{
      background-position:0%;
    }
  }
  /* The navbar gradient style for all pages Start Here */

  /* Navlink is for the page links in navbar */
  .header-link{
    color: white!important;
}
 /* navbar-toggler-icon is for strokes of hamburger toggle icon */
 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(2, 65, 21, 0.63)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* the below navbar-toggler sets the color of border and bg of hamburger icon */
.navbar-toggler{
  border:1px solid rgba(4, 3, 53, 0.527);
  background-color: lightgray;
} 
  /* Login-Form css Start */
  .login-body{
    background-image: url(./Images/Kerala.jpeg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    
  }
  .form{
    opacity: 0.8;
  }
  
  .form{
    width: 30%;
    padding: 5px;
    margin-top: 8%;
    margin-left: 31%;
  }
  .login-form{
    margin: 10%;
    color:lemonchiffon;
  }
  .log-button{
    padding: 10px ;
  }
  
  .log-button a{
    padding: 30px;
    
  }
  /* Login-Form End Here */

/* distr-card & shadow is for 14-district card on districs page */
.distr-card:hover{
  opacity: 0.9;
  color: black !important;
}
.shadow{
  background:linear-gradient(0deg,#000,#6b0303);
}
.shadow::before,
.shadow::after{
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg, #B0E0E6, #00ff00, #ffff00, #FFE4E1, #B0E0E6, #00ff00, #ffff00, #FFE4E1);
  background-size: 200% 200%;
  width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 10s linear infinite;
}
.shadow::after{
  filter: blur(10px);

}
@keyframes animate {
  0% {
      background-position: 0 0;
  }
  50% {
      background-position: 300% 0;
  }
  100% {
      background-position: 0 0;
  }
}
/* End of District Page */

/* Sign Up Page End Here*/
.ui{
  
  border-radius: 30px;
  background: rgba(4, 3, 53, 0.527);
  box-shadow: #8a8f8d17;
  color: lavenderblush !important; ;

}

.signup-body{
  background-image: url(./Images/IMG_0647.jpg);
  background-size: cover;
  background-attachment: fixed;
}
/* Sign Up Page Styles End Here*/

/*  Home Page  */
.carousel-item::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0000;
  opacity: 0.6;
}
.carousel-item{
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;

}


/* Home Page End */
/* District Page */
.jumbotron{
  margin-top: 20px;
  background-image: url(./Images/triv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.dimension{
  width: 500px;
  height: 300px;
}
.kollam-pic{
  margin-top: 20px;
  background-image: url(./Images/kollam2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.alapey-pic{
  margin-top: 20px;
  background-image: url(./Images/alaphuzha2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  }
  .pathan-pic{
    margin-top: 20px;
    background-image: url(./Images/pathanamthitta2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
 .pathan-pic{
      margin-top: 20px;
      background-image: url(./Images/kottayam2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
   }

   .ernak-pic{
    margin-top: 20px;
    background-image: url(./Images/ernakulam2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }
 .thriss-pic{
  margin-top: 20px;
  background-image: url(./Images/Thrissur2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

  .alp-dimension{
    width: 400px;
    height: 300px;
  }
  .iduk-dimension{
    width: 400px;
    height: 300px;
  }
/* .distr-tab,.distr-link,active{
  background-color: #155799;
  color: white;
  border:3px solid 155799;
}
.distr-tab,.distr-link{
  background-color: wheat;
  color: #155799;
  border:3px solid 155799;
  margin-right: 1rem;

}
.distr-tab,.distr-link:hover{
  border: 3px solid 155799;
} */
/* Districts Page */